#wrapper
{
	padding-top: 3em;
	width: 80%;
	margin: auto;
}

#postsTitle
{
	text-align: center;
	padding: 1em;
}

#item
{
	outline-style: solid;
	outline-width: thin;
	outline-color: #111111;
}

#itemContent
{
	padding: 1em;
}

#postedStat
{
	font-style: italic;
	font-size: smaller;
}