*
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
}

h1, h2
{
	font-family: Verdana, Geneva, sans-serif;
}

p
{
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	/*text-align: center;*/
}

a
{
	text-decoration: none;
	font-family: 'Arial Narrow', sans-serif;
}

.titleBanner
{
	margin-bottom: 5px;
	margin-top: 5px;
	width: 100%;
}

.titleBanner h1
{
	color: #333333;
}

#navBar
{
	list-style-type: none;
	float: left; /*This is weird. I need to float in the class to get the colour to show?*/
	background-color: #151515;
	width: 100%;
}

#navBar li
{
	float: left;
}

#navBar a
{
	display: block;
	padding: 8px 12px;
	color: #DDDDDD;
	text-decoration: none;
	font-family: 'Arial Narrow', sans-serif;
}

#navBar a:hover
{
	background-color: #555555;
	border: 1px;
}

#mainContent h2
{
	text-align: center;
	font-size: xx-large;
}

#homeContent
{
	display: inline-block;
	width: 100%;
	background-color: #555555;
}

#homeContent h2
{
	text-align: left;
	font-size: larger;
}

#homeContentText
{
	padding: 10px;
	height: 50%;
	margin: auto;
}

#homeContent img
{
	float: left;
	padding: 10px;
	border-radius: 50%;
}

#projectContent
{
	padding-top: 1em; 
	text-align: center;
}


#projectContent h2
{
	padding-bottom: 5px;
}

.projectsCollection
{
	padding-top: 1em;
	margin: auto;
	width: 50%;
}

/*.projectLink*/
.projectsCollection a
{
	display: block;
	float: left;
}

/*class="projectLink"*/
/*.projectLink p*/
.projectsCollection p
{
	color: #000000;
	font-family: 'Arial Narrow', sans-serif;
}

/*.projectLink*/
.projectsCollection .projectLinkMouseOverText
{
	position: relative;
	bottom: 95px;
	left: 0px;
	width: 150px;
	height: 0;
	visibility: hidden;
}

/*.projectLink:hover*/
.projectsCollection a:hover .projectLinkMouseOverText
{
	visibility: visible;
}

.projectsCollection a:hover img
{
	opacity: 0.7;
	/*For IE8 or earlier*/
	filter: alpha(opacity=70);
}

.projectsCollection img
{
	padding: 5px, 5px, 5px, 5px;
}

#blogContent
{
	padding-top: 2em;
	padding-bottom: 2em;
	clear: both;
}

#blogContent h2
{
	text-align: center;
	padding-bottom: 5px;
}

#blogContent p
{
	margin: auto;
	width: 50%;
}

#morePostsButton
{
	margin: 10px 14px;
	padding: 8px 12px;
	background: blue; 
	color: white;
	border-radius: 3%;
	float: right;
}

.blogTeaser
{
	margin: auto;
	margin-top: 1%;
	width: 50%;
	background-color: #765980;
	outline-style: solid;
	outline-width: thin;
	outline-color: #111111;
}

.blogTeaser .blogTitle
{
	font-size: x-large;
	color: white;
	padding-left: 5px;
}

#blogContent .blogTeaser p
{
	font-style: italic;
	font-size: small;
	width: 95%;
	text-align: left;
}

.continueLink
{
	font-size: medium;
	text-align: right;
}

#contactContent
{
	clear: both;
	float: left;
	padding-top: 1em;
	width: 100%;
	background-color: #555555;
	text-align: center;
}

#contactLinks
{
	margin: auto;
	width: 50%;
}

#contactLinks a
{
	padding-left: 16px;
	padding-right: 16px;
	text-decoration: none;
}

#created
{
	font-style: italic;
	font-size: smaller;
}