h3
{
	text-align: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: medium;
}

#projectMain
{
	margin: auto;
	width: 60%;
}

#projectTeaserImage
{
	display: none;
}

#projectBanner
{
	height: 15em;
	width: 100%;
}

#projectTitle
{
	margin: auto;
	width: 60%;
	text-align: center;
	padding-top: 3em;
	padding-bottom: 1em;
}

#projectBlurb
{
	margin: auto;
	width: 60%;
	font-style: italic;
}

#writingProjectText
{
	margin: auto;
	width: 60%;
}

#writingProjectText p
{
	text-align: left;
	margin-bottom: 3em;
}

#projectMain
{
	padding-top: 1em;
	padding-bottom: 2em;
}